@{
    ViewBag.Title = "Get to Know Joel";
}

<h2>@ViewBag.Title</h2>
<p>
    <a href="https://www.qwcomedy.com/">Quick Wits Comedy</a><br>
    <a href="https://baconsale.com/">Bacon Sale Site</a><br>

    <a>
        <img src="~/img/BaconsaleKate.jpeg" />
    </a>
</p>
